@page "/admin"

<EditForm Model="@newProduct" OnValidSubmit="AddProduct">
    <DataAnnotationsValidator />
    @* <ValidationSummary/> *@
    <label> Product Name</label>
    <InputText @bind-Value="newProduct.Name" class="form-control"></InputText>
    <ValidationMessage For="@(()=>newProduct.Name)" />
    <br /><br />
    <label> Product Description</label>
    <InputText @bind-Value="newProduct.Description" class="form-control"></InputText>

    <br /><br />
    <label> Product YOM</label>
    <InputNumber @bind-Value="newProduct.YOM" class="form-control"></InputNumber>
    <ValidationMessage For="@(()=>newProduct.YOM)" />

    <label> Product Status</label>
    <InputRadioGroup @bind-Value="@newProduct.Status">

        @foreach (var options in StockOptions)
        {
            <InputRadio Value="@options" /> <label>@options</label>
            <br />
        }

    </InputRadioGroup>
    <br /><br />
    @{
        var i = 0;
    }

    @foreach (var quantity in newProduct.QuantityAndPrices)
    {
        i++;

        <div class="d-flex">
            <p>@i</p>
            <InputText @bind-Value="quantity.Quantity" class="form-control"></InputText>
            <InputNumber @bind-Value="quantity.Price" class="form-control"></InputNumber>
            <button @onclick="@(()=>newProduct.QuantityAndPrices.Remove(quantity))">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                </svg>
            </button>
        </div>
    }

    <button class="mt-4 btn btn-secondary"
            @onclick="@(()=>@newProduct.QuantityAndPrices.Add(new QuantityAndPrices()))">
        Add NewQuantity
    </button>

    <button type="submit" class="mt-4 btn btn-primary">Submit</button>
    <button type="button" class="mt-4 btn btn-primary" @onclick="@(()=>@newProduct= new Product())">Reset</button>

</EditForm>


@code {


    public Product newProduct = new Product();

    public List<string> StockOptions = new List<string>()
    {
        "IN-Stock",
        "Out-of_Stock"
    };

    private void AddProduct()
    {

        Console.WriteLine(newProduct.Name);
        Console.WriteLine(newProduct.Description);
        Console.WriteLine(newProduct.YOM);
        Console.WriteLine(newProduct.QuantityAndPrices[0].Quantity);
        Console.WriteLine(newProduct.QuantityAndPrices[1].Quantity);
    }
}
